## Lambda functions
# Syntax: lambda input expression:

- lambda has no return value
- lambda is written in one line
- not used for code reusability, used only one time
- No name

In [1]:
a = lambda x:x**2
a(8)

64

In [2]:
b = lambda x,y : x+y
b(9,8)

17

In [4]:
#it is used along with higher order function

In [5]:
b = lambda x: x[0]=='a'
b('apple')

True

In [6]:
b('banaa')

False

In [9]:
c  =lambda x: 'Even' if x%2==0 else 'odd'
print(c(3))
print(c(2))

odd
Even

# Higher order function

In [31]:
l = [11,14,21,23,56,78,45,29,28]
def dsum(func,l):
    result=0
    for i in l:
        if func(i):
            result = result + i
    return result

l = [11,14,21,23,56,78,45,29,28]
x=lambda x: x%2==0
y=lambda x: x%2!=0
z=lambda x: x%3==0

print(dsum(x,l))
print(dsum(y,l))
print(dsum(z,l))

176
129
144

Map
- works on every item like if we want to multiply every item of list with 2

In [33]:
l = [11,14,21,23,56,78,45,29,28]
list(map(lambda x:x*2,l))

[22, 28, 42, 46, 112, 156, 90, 58, 56]

In [34]:
list(map(lambda x:x%2==0,l))

[False, True, False, False, True, True, False, False, True]

In [42]:
students=[
    {'name': 'kaushal dhanani',
     'age':21,
     'add': 'amd',
    },{
    'name': 'gvcgfdfggg',
    'age' : 25,
    'add': 'surat',
    }, {
        'name': 'dhanani',
    'age' : 29,
    'add': 'nadiad',
    }
]

In [44]:
map(lambda std:std['name'],students)

['kaushal dhanani', 'gvcgfdfggg', 'dhanani']

Filter
- used for filtering out on specific condition

In [4]:
l = [11,14,21,23,56,78,45,29,28]
list(filter(lambda x:x>20,l))

[21, 23, 56, 78, 45, 29, 28]

In [5]:
fruits=['apple','orange','mango','guava']
list(filter(lambda fruit:'e'in fruit,fruits))

['apple', 'orange']

Reduce

In [11]:
k=[1,2,3,4,5,6]
reduce(lambda x,y:x+y,k) #functools for python3

21

In [15]:
z=[11,34,56,12,21,50]
reduce(lambda x,y :x if x>y else y,z)

56

List comprehension

In [16]:
k

[1, 2, 3, 4, 5, 6]

In [20]:
l1=[item*2 for item in k]
l1

[2, 4, 6, 8, 10, 12]

In [22]:
l2=[i**2 for i in range(10) if i%2!=0]
l2

[1, 9, 25, 49, 81]

In [23]:
fruits

['apple', 'orange', 'mango', 'guava']

In [24]:
l3=[i for i in fruits if i.startswith('o')]
l3

['orange']

In [26]:
d={'name':'kaushal', 'age': 20, 'clg':'pdeu'}
d.items()

[('age', 20), ('clg', 'pdeu'), ('name', 'kaushal')]