# Python supports 3 categories of d types
- Basic : int, float, complex, boolean, str
- Container : list, tuple, set, dict
- User defined : class

- Lists are heterogeneous

In [1]:
l=[]

In [10]:
l=[1,2,3,4,5,6]
l

[1, 2, 3, 4, 5, 6]

In [3]:
l1=[1,2,3,'hello',5,6,'hi']
l1

[1, 2, 3, 'hello', 5, 6, 'hi']

In [6]:
l3=[1,2,3,[6,7]]
l3 #2D

[1, 2, 3, [6, 7]]

In [21]:
l4=[[[1,2]],[[9,0],[6,7]]]
l4

[[[1, 2]], [[9, 0], [6, 7]]]

In [8]:
ll=list('Kaushal')
ll

['K', 'a', 'u', 's', 'h', 'a', 'l']

In [11]:
ll[::-1]

['l', 'a', 'h', 's', 'u', 'a', 'K']

In [12]:
l3

[1, 2, 3, [6, 7]]

In [13]:
x=l3[-1]
x[0]

6

In [14]:
l3[-1][0]

6

In [22]:
l4

[[[1, 2]], [[9, 0], [6, 7]]]

In [23]:
l4[-1][-1][-1]

7

In [24]:
l4[0][0][1]

2

Edit

In [25]:
l

[1, 2, 3, 4, 5, 6]

In [27]:
l[0]=100
l
#lists are mutable

[100, 2, 3, 4, 5, 6]

In [28]:
l[0:2]=[56,57]
l

[56, 57, 3, 4, 5, 6]

In [30]:
l.append(1000) #add in last of list
l

[56, 57, 3, 4, 5, 6, 1000, 1000]

In [33]:
l.extend([500,789,670]) #add multiple items in last
l

[56, 57, 3, 4, 5, 6, 1000, 1000, 500, 789, 670, 500, 789, 670, 500, 789, 670]

In [35]:
l.insert(1, 'world')
l

[56,
 'world',
 'world',
 57,
 3,
 4,
 5,
 6,
 1000,
 1000,
 500,
 789,
 670,
 500,
 789,
 670,
 500,
 789,
 670]

In [36]:
del l[1]
l

[56,
 'world',
 57,
 3,
 4,
 5,
 6,
 1000,
 1000,
 500,
 789,
 670,
 500,
 789,
 670,
 500,
 789,
 670]

In [37]:
del l[-3:]
l

[56, 'world', 57, 3, 4, 5, 6, 1000, 1000, 500, 789, 670, 500, 789, 670]

In [38]:
l.remove('world')
l

[56, 57, 3, 4, 5, 6, 1000, 1000, 500, 789, 670, 500, 789, 670]

In [40]:
l.pop() #delete last item
l

[56, 57, 3, 4, 5, 6, 1000, 1000, 500, 789, 670, 500]

In [43]:
l.clear() #clear the list

Operations

In [44]:
l = [1,2,3,4]
j = [7,8,8,10]
l+j

[1, 2, 3, 4, 7, 8, 8, 10]

In [45]:
l*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [46]:
l3

[1, 2, 3, [6, 7]]

In [47]:
for i in l3:
    print(i)

1
2
3
[6, 7]

In [48]:
4 in l3

False

In [51]:
[6,7] in l3

True

functions

In [52]:
len(l)

4

In [53]:
print(min(l))
print(max(l))

1
4

In [55]:
sorted(l, reverse=True) #create new list

[4, 3, 2, 1]

In [56]:
l

[1, 2, 3, 4]

In [59]:
l.sort() #edit existing list
l

[1, 2, 3, 4]

In [65]:
ip= 'who are you'#capitalize first word
k=[]
for i in ip.split():
    print(i.capitalize())
    k.append(i.capitalize())

Who
Are
You

In [66]:
k

['Who', 'Are', 'You']

In [68]:
' '.join(k)

'Who Are You'

In [80]:
a='dhananikaushal@gmail.com'
k=a.split('@')
del k[1]
''.join(k)

'dhananikaushal'

In [77]:
sample='dhananikaushal@gmail.com'
print(sample[:sample.find('@')])

dhananikaushal

In [85]:
o=[1,1,2,2,3,3,4,4] #delete duplicate
j=[1,2,3,1] 
k=[]

In [86]:
for i in o:
    if i not in k:

        k.append(i)
k

[1, 2, 3, 4]