Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line

In [22]:
street='surjeet society'
city='ahmedabad'
country='india'
print(street+ '\n' +city+ '\n' +country)

surjeet society
ahmedabad
india

Create a variable to store the string "Earth revolves around the sun"
Print "revolves" using slice operator
Print "sun" using negative index

In [32]:
k='Earth revolves around the sun'
k[6:15]

'revolves '

In [33]:
k[-3:]

'sun'

Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.

In [41]:
num_fruits=10
num_veggies=5
print(f"I eat {num_veggies} veggies and {num_fruits} daily")

I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [42]:
s='maine 200 banana khaye'
s.replace('200 banana', '10 samosa')

'maine 10 samosa khaye'

Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [52]:
exp = [2200,2350,2600,2130,2190]
print('Extra spent compared to Jan in Feb:', exp[1]-exp[0])
print('Exp in first quarter:', exp[0]+exp[1]+exp[2])
2000 in exp
exp.append(1980)
exp[3]=1930
exp

('Extra spent compared to Jan in Feb:', 150)
('Exp in first quarter:', 7150)

[2200, 2350, 2600, 1930, 2190, 1980]

You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']
Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [75]:
 heros=['spider man','thor','hulk','iron man','captain america']

In [76]:
print(len(heros))

5

In [77]:
heros.append('black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [78]:
heros.remove('black panther')
heros.insert(3,'black panther')
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [79]:
heros[1]='doctor strange'
print(heros)

['spider man', 'doctor strange', 'hulk', 'black panther', 'iron man', 'captain america']

In [80]:
heros.sort()
print(heros)

['black panther', 'captain america', 'doctor strange', 'hulk', 'iron man', 'spider man']

Using following list of cities per country,
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]
Write a program that asks user to enter a city name and it should tell which country the city belongs to
Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"

In [89]:
india = ['mumbai', 'banglore', 'chennai', 'delhi']
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]

city=input('Name of the city:')
if city in india:
    print('City is in India')
elif city in pakistan:
    print('city is in pakistan')
else:
    print('city is in bangla')

Name of the city:'delhi'
City is in India

In [94]:
city1=input('Enter city 1:')
city2=input('Enter city 2:')
if city1 in india and city2 in india:
    print("Both cities are in india")
elif city1 in pakistan and city2 in pakistan:
    print("Both cities are in pakistan")
elif city1 in bangladesh and city2 in bangladesh:
    print("Both cities are in bangladesh")
else:
    print("They don't belong to same country")

Enter city 1:'delhi'
Enter city 2:'mumbai'
Both cities are in india

Write a python program that can tell you if your sugar is normal or not. Normal fasting level sugar range is 80 to 100.
Ask user to enter his fasting sugar level
If it is below 80 to 100 range then print that sugar is low
If it is above 100 then print that it is high otherwise print that it is normal

In [88]:
sugar_level=int(input('Enter your sugar:'))
if sugar_level<80:
    print('sugar is low')
elif sugar_level>100:
    print('sugar is high')
else:
    print('sugar is normal')

Enter your sugar:101
sugar is high

# For loop

After flipping a coin 10 times you got this result,
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
Using for loop figure out how many times you got heads

Print square of all numbers between 1 to 10 except even numbers

In [99]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
total=0
for i in result:
    if i =="heads":
        total=total+1
print(total)

4

In [103]:
for i in range(1,11):
    if i%2!=0:
        continue
    print(i*i)

4
16
36
64
100

Your monthly expense list (from Jan to May) looks like this,
expense_list = [2340, 2500, 2100, 3100, 2980]
Write a program that asks you to enter an expense amount and program should tell you in which month that expense occurred. If expense is not found then it should print that as well.

In [105]:
month_list = ["January", "February", "March", "April", "May"]
expense_list = [2340, 2500, 2100, 3100, 2980]
e = input("Enter expense amount: ")
e = int(e)

month = -1
for i in range(len(expense_list)):
    if e == expense_list[i]:
        month = i
        break

if month != -1:
    print('You spent', e, 'in', month_list[month])
else:
    print('You didnot spend', e, 'in any month')

Enter expense amount: 2340
('You spent', 2340, 'in', 'January')

Lets say you are running a 5 km race. Write a program that,

Upon completing each 1 km asks you "are you tired?"
If you reply "yes" then it should break and print "you didn't finish the race"
If you reply "no" then it should continue and ask "are you tired" on every km
If you finish all 5 km then it should print congratulations message

In [1]:
for i in range(1,6):
    if i==1:
        print('1 km is done')
        print('are you tire?')
        a=str(input())
        if a=='yes':
            print('you did not finish the race')
            break
        else:
            
            continue
    
    if i==2:
        print('2 km is done')
        print('are you tire?')
        a=str(input())
        if a=='yes':
            print('you did not finish the race')
            break
        else:
            
            continue
    if i==3:
        print('3 km is done')
        print('are you tire?')
        a=str(input())
        if a=='yes':
            print('you did not finish the race')
            break
        else:
            
            continue
            
    if i==4:
        print('4 km is done')
        print('are you tire?')
        a=str(input())
        if a=='yes':
            print('you did not finish the race')
            break
        else:
            
            continue
    if i==5:
        print('congrats!!!')

1 km is done
are you tire?
'no'
2 km is done
are you tire?
'no'
3 km is done
are you tire?
'no'
4 km is done
are you tire?
'no'
congrats!!!

In [3]:
for i in range(1,6):
    s = ''
    for j in range(i):
        s =s+'*'
    print(s)

*
**
***
****
*****

Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. Equation of an area of a triangle is,
area = (1/2)*base*height

In [21]:
def area(a,b,shape='triangle'):
    
    if shape=='triangle':
        
        print('base=',a)
        print('height=',b)
        ar=0.5*a*b
    elif shape=='rec':
        print('width=',a)
        print('height=',b)
        ar=a*b
    else:
        print('No shape identified')
        ar=None
    return ar
area(5,10,'rpp')

No shape identified

In [35]:
def pattern(a=5):
    for i in range(a):
        s=''
        for j in range(i+1):
            s=s+ '*'
        print(s)
    
pattern(3)

*
**
***

In [36]:
print("Print pattern with input=3")
pattern(3)
print("Print pattern with input=4")
pattern(4)
print("Print pattern with no input number")
pattern() # Not supplying any input will use default argument which is 5

Print pattern with input=3
*
**
***
Print pattern with input=4
*
**
***
****
Print pattern with no input number
*
**
***
****
*****