# Tuples

In [1]:
tl=()
tl

()

In [4]:
t1=(1,2,3) #homogenous
t1

(1, 2, 3)

In [5]:
t3=('hello',1,2)
t3 #heterogeneous

('hello', 1, 2)

In [6]:
t4=(1,2,3,(9,0))
t4

(1, 2, 3, (9, 0))

In [8]:
t5=('hello',)
type(t5) #single item tuple

tuple

In [10]:
t6=tuple('kd')
t6

('k', 'd')

In [11]:
t1[1]

2

In [12]:
t1[0:2]

(1, 2)

In [13]:
t4

(1, 2, 3, (9, 0))

In [14]:
t4[-1][1]

0

Edit

In [22]:
tl=(1,2,3,4) #tuples are immutable
del tl #cannot delete sigle item, only whole tuple can be deleted

In [24]:
t1+t3

(1, 2, 3, 'hello', 1, 2)

In [70]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [25]:
for i in t1:
    print(i)

1
2
3

In [26]:
1 in t1

True

In [27]:
print(len(t1)) #min,max

3

In [28]:
sum(t1)

6

In [32]:
sorted(t1)

[1, 2, 3]

- Tuples are readonly data type

# Sets

- sets don't allow duplicates
- sets don't have indexing/slicing
- sets don't allow mutable data types
- sets are mutable ( so no 2D/3D sets possible)

In [34]:
#empty set
s=set()
type(s)

set

In [35]:
s={1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [36]:
s1={'hello',1,2}
s1

{1, 2, 'hello'}

In [63]:
s2={1,1,1,2,3,4,2}
s2

{1, 2, 3, 4}

In [68]:
s4={[1],2,3} #coz lists are mutable

TypeError: unhashable type: 'list'

In [43]:
s4={(1,2,3),'hello'} #coz tuple are immutable
s4

{'hello', (1, 2, 3)}

How to access items

In [44]:
s

{1, 2, 3, 4, 5}

In [46]:
a=list(s)
a

[1, 2, 3, 4, 5]

In [47]:
a[0]=100
a

[100, 2, 3, 4, 5]

In [53]:
s=set(a)
s #new set created

{2, 3, 4, 5, 100}

In [54]:
#can we add
s.add(90)
s

{2, 3, 4, 5, 90, 100}

In [55]:
id(s)

55862016

In [57]:
#delete : del,remove,pop
s2

{1, 2, 3, 4}

In [65]:
del s2 #cannot delete sigle item, only whole tuple can be deleted

In [66]:
s.remove(4)
s

{2, 3, 5, 90, 100}

In [67]:
s.pop()
s

{3, 5, 90, 100}

In [82]:
s1={1,2,3}
s2={2,5,4,6} 
s1+s2 #cannot add or multiply, no concatinating

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [83]:
for i in s1:
    print(i)

1
2
3

In [84]:
1 in s1

True

In [85]:
print(len(s1)) #min,max,sum

3

In [86]:
sorted(s2)

[2, 4, 5, 6]

In [87]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [88]:
s1.intersection(s2)

{2}

In [89]:
s1.difference(s2)

{1, 3}

In [90]:
s2.difference(s1)

{4, 5, 6}

In [91]:
s1.symmetric_difference(s2)

{1, 3, 4, 5, 6}

In [93]:
s1.issubset(s2)

False

# Dictionary
- Dict has no indexing
- Dict is mutable
- Keys are always immutable and values can be mutable
- Keys should be unique

-Mutable : Dict , lists, sets
-Immutable: Tuples, strings, int, float, boolean, complex

In [96]:
d={'name':'kaushal', 'age': '21'}
d

{'age': '21', 'name': 'kaushal'}

In [97]:
k={}
k

{}

In [98]:
d1={[1,2,3]:'kaushal'} #keys always immutable, here is list
d1

TypeError: unhashable type: 'list'

In [101]:
d1={(1,2,3):'kaushal'}
d1              #keys always immutable, here is tuple

{(1, 2, 3): 'kaushal'}

In [105]:
d={'name':'kaushal', 'name':'kaushal'}
d #keys should be unique

{'name': 'kaushal'}

In [110]:
d2={'name':'kaushal','clg':'PDEU','marks':{'m':34, 'p':89, 'w':90}}
d2

{'clg': 'PDEU', 'marks': {'m': 34, 'p': 89, 'w': 90}, 'name': 'kaushal'}

In [111]:
d2['name']

'kaushal'

In [112]:
d2.keys()

['clg', 'name', 'marks']

In [134]:
d2.values()

['PDEU', 'dhanani', {'m': 34, 'p': '67', 'w': 90}]

In [113]:
d2['marks']['p']

89

Editing

In [114]:
d2['name']='dhanani'
d2

{'clg': 'PDEU', 'marks': {'m': 34, 'p': 89, 'w': 90}, 'name': 'dhanani'}

In [115]:
d2['marks']['p']='67'
d2

{'clg': 'PDEU', 'marks': {'m': 34, 'p': '67', 'w': 90}, 'name': 'dhanani'}

In [117]:
d2['age']=21 #add key
d2

{'age': 21,
 'clg': 'PDEU',
 'marks': {'m': 34, 'p': '67', 'w': 90},
 'name': 'dhanani'}

In [119]:
k={'i':98}

In [120]:
del k

In [121]:
del d2['age'] #can delet individual items
d2

{'clg': 'PDEU', 'marks': {'m': 34, 'p': '67', 'w': 90}, 'name': 'dhanani'}

operations

In [122]:
d2

{'clg': 'PDEU', 'marks': {'m': 34, 'p': '67', 'w': 90}, 'name': 'dhanani'}

In [123]:
d

{'name': 'kaushal'}

In [125]:
#d1+d2 and d1*d2 don't work

In [127]:
for i in d2:
    print(i,d2[i])

('clg', 'PDEU')
('name', 'dhanani')
('marks', {'p': '67', 'm': 34, 'w': 90})

In [130]:
'dhanani' in d2

False

In [131]:
'clg' in d2

True

In [132]:
print(len(d2)) #min,max

3

In [133]:
sorted(d2)

['clg', 'marks', 'name']